.main-content {
    background: var(--gray-5);
    padding: 68px 160px;
    border-top: solid 1px var(--grey-2);
    border-bottom: solid 1px var(--grey-2);
}
.main-content_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}