.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page__content {
    background: var(--gray-5);
    padding: 68px 160px;
    border-top: solid 1px var(--grey-2);
    border-bottom: solid 1px var(--grey-2);
    flex-grow: 1;
}

.page_cards {
    min-width: 350px;
}