.demo-page {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.demo-page_modal {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.demo-page_tooltip {
    text-align: center;
    padding-top: 70px;
}