@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --black-2: #334D6E;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-dark: #5028C6;
    --blue: #4263EB;
    --blue-dark: #2342C0;
    --red: #F03D3E;
    --gray: #ACB5BD;
    --gray-dark: #212429;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-6: #90A0B7;
    --grey-7: #A0B1F5;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}
